{% extends 'base.html.twig' %}

{% block title %}Add new event | Meetdown.io{% endblock %}

{% block body %}
    <section class="jumbotron" xmlns="http://www.w3.org/1999/html">
        {{ form(form) }}
    </section>
{% endblock %}