{#
   This is the form template to add a new event.
#}
{% extends 'base.html.twig' %}

{% block title %}New event | Meetdown.io{% endblock %}

{% block body %}
    <section class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <h2 class="jumbotron-heading">Add a new event</h2>
        {{ form(form) }}
    </section>
{% endblock %}