{#
   This is the login form template.
#}
{% extends 'base.html.twig' %}

{% block title %}Login | Meetdown.io{% endblock %}

{% block body %}
    <section class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <h2 class="jumbotron-heading">Login</h2>
        {{ form(form) }}
    </section>
{% endblock %}